.footer {
    max-width: 1280px;
    min-height: 540px;
    background: linear-gradient(110.78deg, #FF8D24 1.26%, #F83ECF 98.74%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
  }
  .arrow{
    width: 6.19rem;
    height: 6.19rem;
    margin: 0 0 50px 0;
  }
  .group {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6.89rem;
    font-size: 1.88rem;
    font-weight: 700;
    text-align: left;
    color: #FFFFFF;
  }
  .div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding-right: 0.63rem;
    padding-top: 0.63rem;
  }
  .div2 {
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding: 0.63rem 0.63rem 0 0.63rem;
  }
  .div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.63rem;
    padding-top: 0.63rem;
    gap: 1.25rem;
  }
  .img {
    width: 3.13rem;
    height: 2.5rem;
  }
  .text {
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 1.75rem;
    line-height: 0.66rem;
    color: #FFFFFF;
  }
  @media (max-width: 768px){
    .footer{
      padding: 0 20px 0 20px;
    }
    .group {
      height: 9.38rem;
      font-size: 1.38rem;
      font-weight: 700;
      text-align: center;
      color: #FFFFFF;
      margin: 0 0 0.63rem 0;
    }
    .div2 {
      border-right: 1px solid #FFFFFF;
      border-left: 1px solid #FFFFFF;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      align-items: center;
    }
    .text {
      text-align: center;
      font-size: 1.06rem;
      color: #FFFFFF;
    }
    .text > p {
      line-height: 1.25rem;
    }
}  