/* Base Styles */
.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    min-height: 500px;
    padding: 0 20px 40px 20px;
    font-family: Inter;
}
form {
    display: flex;
    gap: 22px;
    width: 100%;
}
.custom-radio {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    user-select: none; 
}
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 22.5px;
    width: 22.5px;
    border: 3px solid #E5DEDE;
    margin-top: 35px;
    border-radius: 50%;
}
.custom-radio input:checked ~ .radio-btn {
    background-color: #FFFF;
}
.radio-btn:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-radio input:checked ~ .radio-btn:after {
    display: block;
}
.custom-radio .radio-btn:after {
    top: 5px;
    left: 5px;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background: #D63249;
}
.image {
    width: 118.75px;
    height: 105px;
    border: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
    width: 650px;
    justify-content: center;
    align-items: center;
}
.atms {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
}
.atms > input {
    width: 185px;
    height: 45px;
    border: 1px solid black;
}

.atms > select {
    width: 95px;
    height: 45px;
    border: 1px solid black;
}
.italic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: #938D8D;
    color: #FFFF;
    border-radius: 50%;
}
.box{
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.confirm {
    width: 600px;
    height: 66px;
    border-radius: 50px;
    background: #FE810D;
    color: #FFFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    border: 0;
    cursor: pointer;
}
.confirm:hover{
    background-color: #FFFFFF ;
    color: #FE810D;
    border: 2px solid #FE810D;
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    /* form{ */
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        
    /* } */
    .payment {
        padding: 0 30px 30px 30px;
    }


    .atm {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px 0 10px 0;
        font-size: 20px;
    }

    .atms > input,
    .atms > select {
        width: 100%;
    }

    .confirm {
        width: 372px;
        margin:20px 0 10px 0;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    
    .payment {
        width: 330px;
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
form {
    display: flex;
    gap: 5px;
    width: 100%;
    /* border: 1px solid black; */
}
.custom-radio{
    padding-left: 25px;
}
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 12.5px;
    width: 12.5px;
    border: 3px solid #E5DEDE;
    margin-top: 15px;
    border-radius: 50%;
}
.custom-radio input:checked ~ .radio-btn {
    background-color: #FFFF;
}
.radio-btn:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-radio input:checked ~ .radio-btn:after {
    display: block;
}
.custom-radio .radio-btn:after {
    top: 3px;
    left: 3px;
    width: 5.5px;
    height: 5.5px;
    border-radius: 50%;
    background: #D63249;
}
    .image {
        width: 52.11px;
        height: 44.82px;
       
    }
    .image > img {
        width: 23.99px;
        height: 29.88px;
        object-fit: contain;
    }
    .atm {
        width: 100%;
        /* grid-template-columns: 1fr; */
        gap: 10px;
        padding: 20px 0 20px 0;
        /* border: 1px solid black; */
    }
    .atms{
        gap: 5px;
    }
    .atms > p{
        font-size: 16px;
    }
    .atms > input {
        width: 80.66px;
        height: 25.48px;
        
    }
    .atms > select{
        width: 55.66px;
        height: 25.48px;
    }

    .confirm {
        width: 330px;
        height: 50px;
        font-size: 18px;
        margin:20px 0 10px 0;
    }
}
